@model List<Appointment>

@{
    ViewData["Title"] = "AppView";
    Layout = "_Layout";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Your Appointment</h4>
            <div class="card-description">
            </div>
            <div class="card-description">
                <a href="/PatientAppointment/Form" class="btn btn-gradient-primary btn-fw">Add an New Appointment</a>
            </div>
            <table id="order-listing" class="table table-striped">
                <thead>
                    <tr>
                        <th> First Name </th>
                        <th> Last Name </th>
                        <th> Age </th>
                        <th> Message </th>
                        <th> Gender </th>
                        <th> Phone </th>
                        <th>Address</th>
                        <th> Edit Your Info</th>
                        <th>Delete Your Info</th>
                        <th>PayNow</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td class="py-1">
                                @x.F_Name
                            </td>
                            <td> @x.L_Name </td>
                            <td>
                                @x.Age
                            </td>
                            <td> @x.Message </td>
                            <td> @x.Gender </td>
                            <td> @x.Phone </td>
                            <td> @x.Address </td>
                            <td>
                                <a asp-controller="PatientAppointment" asp-action="Edit" asp-route-id="@x.ID" class="btn btn-gradient-info btn-fw">Edit</a>
                            </td>
                            <td>

                                <a asp-action="Delete" asp-controller="PatientAppointment" asp-route-id="@x.ID" class="btn btn-gradient-info btn-fw">Delete</a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Checkout" asp-route-id="@x.DeptId" class="btn btn-gradient-info btn-fw">PayNow</a>
                            </td>


                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>



